<div class="overview-list">
    <div class="overview-header">
        <h4>Hosts</h4>
    </div>
    <ul>
        {{#each server in servers}}
            {{#linkTo "vm.index" tagName="li"}}
                {{#linkTo "vm.index"}}
                    <h3 class="overview-item-header"> {{server.hostUrl}}</h3>
                {{/linkTo}}
            {{/linkTo}}
        {{/each}}

    </ul>
</div>

    {{outlet}}