@import '../utility/_all';

.dashboard-block {
    float:      left;
    margin:     20px 1% 20px 0%;
    border-top:     1px solid rgba(0,0,0,.15);
    border-left:     1px solid rgba(0,0,0,.15);
    border-right:     1px solid rgba(0,0,0,.15);
    @extend     .information-block;
}

.dashboard-block-4 {
    @extend .dashboard-block;
    width:      24%;
}

.dashboard-block-2 {
    @extend .dashboard-block;
    width:      12%;
}

.dashboard-block.last {
    margin-right: 0;
}

.dashboard-block-content {
    background-color: white;
    padding: 25px;

    h3 {
        color: rgba(0,0,0,.4)
    }
    .dashboard-block-metrics {
        margin: 10px 0;
    }
    .dashboard-block-metric {
        font-size: 3rem;
    }
    .dashboard-block-metric-unit {
        color: rgba(0,0,0,.3);
        margin: 10px 0 0 0;
        font-size: 0.9rem;
        text-transform: uppercase;
    }
}

.dashboard-notification {
    margin: 15px 0 0 0;
}

.dashboard-notification-header {
    width: 100%;
    margin: 0 0 10px 0;


    div {
        display: inline-block;
        width: 49%;
    }
    .dashboard-notification-name {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .dashboard-notification-time {
        text-align: right;
        color: rgba(0,0,0,.3);
        font-size: 0.8rem;
        vertical-align: middle;
    }
}

.dashboard-notification-body {
    font-size: 0.9rem;
    color: rgba(0,0,0,.7);
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 12px;
}

.dashboard-notification-indicator {
    width: 8px;
    height: 8px;
   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.2);
    display: inline-block;
    margin-right: 5px;
}

.dashboard-notification-none {
    text-align: center;
    padding: 39px 0 32px 0 ;
    color: rgba(0,0,0,.2)
}