@import '../utility/_all';
.dashboard-block {
    float:      left;
    margin:     20px 1% 20px 0%;
    border-top:     1px solid rgba(0,0,0,.15);
    border-left:     1px solid rgba(0,0,0,.15);
    border-right:     1px solid rgba(0,0,0,.15);
    @extend     .information-block;
}

.dashboard-block-4 {
    @extend .dashboard-block;
    width:      24%;
}

.dashboard-block-2 {
    @extend .dashboard-block;
    width:      12%;
}

.dashboard-block.last {
    margin-right: 0;
}

.dashboard-block-content {
    background-color: white;
    padding: 25px;

    h3 {
        color: rgba(0,0,0,.4)
    }
    .dashboard-block-metrics {
        margin: 10px 0;
    }
    .dashboard-block-metric {
        font-size: 3rem;
    }
    .dashboard-block-metric-unit {
        color: rgba(0,0,0,.3);
        margin: 10px 0 0 0;
        font-size: 0.9rem;
        text-transform: uppercase;
    }
}

.overview-list {
    background-color: rgba(255,255,255,0.5);
    width: 16%;
    margin: 0 0 0 1%;
    height: 100%;
    display: inline-block;
    float: left;
    overflow: auto;

    li {
        background-color: rgba(255,255,255,0.6);
        padding: 15px;
    }

    li.active  {
        padding-left: 12px;
        border-left: 3px solid #3298DA;
            background-color: rgba(255,255,255,1);
    }

    li.inline-button {
        text-align: center;
        background: none;
        a {
            color: rgba(0,0,0,.7);
        }
    }
}

.overview-item-header {
    color: black;
    font-size: 1.0rem;
}

.overview-item-header.inactive {
    color: rgba(0,0,0,.2);
}

.overview-header {
    padding: 15px;
    margin-top: 5px;

    h4 {
        display: inline-block;
        width: 20%;
        color: rgba(0,0,0,.6);
    }

    hr {
        width: 65%;
        display: inline-block;
        height: 1px;
        background-color: rgba(0,0,0,.1);
        border: none;
        vertical-align: middle;
    }
}

.overview-details {
    background-color: rgba(255,255,255,0.98);
    width: 48%;
    margin: 0;
    min-height: 100%;
    display: inline-block;
    float: left;
}

.overview-details-header {
    @extend .overview-header;
}

.overview-inner {
    padding: 0 20px;

}


