@import '../utility/_all';
@import 'navigation/icons/*.png';
@import "compass/css3/opacity";

.navigation {
    background-color: $navigation-background-color;

    li {
        width: 100%;
        text-align: center;
        margin: 20px 0;
        padding: 0;
    }

    span {
        margin: 5px auto;
        @include opacity(0.7)
    }

    hr {
        height:     1px;
        width:      75%;
        border:     none;
        background-color: $navigation-hr-color;
    }

    .navigation-middle {
        position: absolute;
        width: 100px;
        bottom: 50%;
    }

    .navigation-bottom {
        position: absolute;
         width: 100px;
        bottom: 5%;
    }


    .dashboard {
        @include icons-sprite(dashboard);
        height: 25px;
        width: 25px;
        display: block;
    }

    .server {
        @include icons-sprite(server);
        height: 25px;
        width: 25px;
        display: block;
    }

    .notifications {
        @include icons-sprite(notification);
        margin-top: 2px;
            height: 24px;
            width: 21px;
           display: block;
    }

    .settings {
        @include icons-sprite(settings);
        margin-top: 2px;
            height: 26px;
            width: 22px;
            display: block;
    }

    .overview {
        @include icons-sprite(overview);
        height: 25px;
        width: 25px;
        display: block;
    }


    .help {
        @include icons-sprite(help);
        height: 26px;
            width: 22px;
        display: block;
    }

    .add-host {
        @include icons-sprite(addhost);
        height: 21px;
        width: 30px;
        display: block;
    }

    a {
        color:              $global-navigation-a-color;
        text-decoration:    $global-navigation-a-decoration;
        font-weight:        $global-navigation-a-weight;
        font-size:          $global-navigation-a-font-size;
        letter-spacing:     $global-navigation-a-letter-spacing;
        @include transition (all .3s ease-in-out);
        @include font-smoothing();

        span {
            margin: 5px auto;
            @include transition (all .3s ease-in-out);
            @include opacity(0.7);
        }

        &.active {
            color: $global-navigation-a-color-hover;
            span {
                @include opacity(1);
            }
        }

        &:hover,
        &:focus {
            color: $global-navigation-a-color-hover;
            span {
                @include opacity(1)
            }
        }
    }
}