@import 'subNavigation/*.png';
@import "compass/css3/opacity";

.overview-list {
    background-color: rgba(255,255,255,0.5);
    width: 16%;
    margin: 0 0 0 1%;
    height: 100%;
    display: inline-block;
    float: left;
    overflow: auto;

    li {
        background-color: rgba(255,255,255,0.6);
        padding: 10px;
    }

    li.active  {
        padding-left: 7px;
        border-left: 3px solid #3298DA;
        background-color: rgba(255,255,255,1);
    }

    li.inline-button {
        text-align: center;
        background: none;
        a {
            color: rgba(0,0,0,.7);
        }
    }
}

.overview-item-header {
    color: black;
    font-size: 1rem;
}

.overview-item-header.vm {
    display: inline-block;
    width: 83%;
    h3 {
    color: black;
    font-size: 0.8rem;
    }
}

.overview-item-state {
    width: 12px;
    display: inline-block;
    height: 12px;
    vertical-align: top;
    margin: 3px 0 0 3px;
    float: right;
    span {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.1);
        display: block;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;

    }

    span.green {
        background-color: #6EDA6C;
    }

    span.orange {
        background-color: orange;
    }

    span.red {
        background-color: red;
    }
}



.overview-item-header.inactive {
    color: rgba(0,0,0,.2);
}

.overview-header {
    padding: 15px;
    margin-top: 5px;

    h4 {
        display: block;
        width: 100%;
        color: rgba(0,0,0,.6);
    }

    hr {
        width: 100%;
        display: inline-block;
        height: 1px;
        background-color: rgba(0,0,0,.1);
        border: none;
        vertical-align: middle;
    }
}

.overview-header-filter {
    padding: 0;
    margin: 0;
    min-height: 20px;
    p {
        margin: 0;
        padding: 0;
        text-align: right;

        a {
            color: rgba(0,0,0,.4);
            font-size: 0.8rem;

            &:hover {
                color: rgba(0,0,0,.6);
                text-decoration: underline;
            }
        }
    }
}

.overview-details {
    background-color: rgba(255,255,255,0.98);
    width: 47%;
    margin: 0 0 0 1%;
    min-height: 100%;
    display: inline-block;
    float: left;
}

.overview-details.inactive {
    background-color: rgba(255,255,255,0.4);
}

.overview-details-header {
    @extend .overview-header;
}



.overview-content-middle {
    p {
        margin: 20% 0;
        text-align: center;
        color: rgba(0,0,0,.4)
    }
}


.overview-list dl {
    margin: 5px 0 0 0;
    @include clearfix;
    font-size: 0.8rem;
    color: rgba(0,0,0,.6);
    with: 100%;
    dt {
        width: 50%;
        display:inline-block;
        float: left;
        padding: 7px 0;
        font-weight: normal;
        border: none;

    }

    dd {
        width: 50%;
        display: inline-block;
        float: left;
        text-align: right;
        padding: 7px 0;
        font-weight: bold;
        border: none;
    }
}

.overview-nav {
    display: inline-block;
    float: left;
    width: 12%;
    ul {
        border-right: 1px solid rgba(0,0,0,.1)
    }
    li {
        font-size: 0.7rem;
        text-align: center;
        padding: 0;
        margin: 0 0 10px;

        a {
        color:              rgba(0,0,0,.3);
        text-decoration:    none;
        font-weight:        normal;
        font-size:          0.8rem;
        letter-spacing:     1;
        @include transition (all .3s ease-in-out);
        @include font-smoothing();

        span {
            margin: 5px auto;
            @include transition (all .3s ease-in-out);
            @include opacity(0.4);
        }

        &.active {
            color: rgba(0,0,0,.6);
            span {
                @include opacity(0.8);
            }
        }

        &:hover,
        &:focus {
            color: rgba(0,0,0,.6);
            span {
                @include opacity(0.8)
            }
        }
    }

    }

    .info {
        @include subNavigation-sprite(info);
        height: 24px;
        width: 24px;
        display: block;
    }

    .api {
        @include subNavigation-sprite(command);
        height: 24px;
        width: 24px;
        display: block;
    }
}

.overview-inner {
    width: 80%;

    float: right;
    display: inline-block;
    padding: 0 4% 0 4%;
    margin: 0;


    dl {
        margin: 0;
    }
    dt {
        width: 30%;
    }
    dd {
        width: 70%;
        display: block;
    }

    dt, dd {min-height:1.2em;}
}

.overview-container {
    width: 100%;
    margin-top: 20px;
}

/* Move to specific host section */

.host-api-output {
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,.3);
    height: 500px;
    overflow: auto;
    font-size: 0.7rem;
    padding: 5px;
}