<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Host</h4>
 </div>
<div class="modal-body">

{{#if authFailed}}
    <p>Failed to authenticate with server</p>
{{/if}}


    <form>
        <ul class="createServerInput">
            <li>
                <label for="hostUrl">Host Address:</label>
                {{view App.HostUrlField viewName="hostUrl" id="hostUrl" placeholder="IP Address" valueBinding="hostUrl"}}
            </li>
            <li>
                <label for="hostName">Host Username:</label>
                {{view App.ValidateTextField viewName="hostName" id="hostName" placeholder="SSH Username" valueBinding="hostName" }}
            </li>
            <li>
                <label for="hostPassword">Host Password:</label>
                {{view App.ValidateTextField viewName="hostPassword" id="hostPassword" placeholder="SSH Password" valueBinding="hostPassword" }}
            </li>
        </ul>
        </div>
        <div class="modal-footer">
            <input type="submit" name="submit" id="add-server" value="Add Server" {{action createServer }} />
    </form>
</div>