<div class="modal-dialog">
  <div class="modal-content">
        <div class="modal-header">
            <button {{action closeModal}} type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{title}}</h3>
         </div>
         <div id='modal-body'>

         {{outlet "modalBody"}}

        </div>
    </div>
</div>