<div class="overview-details">
    <div class="overview-header">
        <h4>Pool: <span>{{poolName}}</span></h4>
    </div>
        <div class="overview-inner">
            <dl>
                <dt>UUID:</dt><dd>{{poolUUID}}</dd>
                <dt>Name:</dt><dd>{{poolName}}</dd>
            </dl>
        </div>
</div>