/* _colors
 *
 *
 */

// HTML, BODY elements
$global-background-color: #E5E5E5;

// Navigation
$navigation-background-color: #232323;
$navigation-hr-color: #393939;

// Link
$global-navigation-a-color: rgba(255,255,255,0.8);
$global-navigation-a-color-hover: rgba(255,255,255,0.95);

/* Footer */
$footer-color: rgba(0,0,0,0.2);