/*
 * Typograhical options
 */

/* Global */
$global-navigation-a-font-size: 0.7rem;
$global-navigation-a-decoration: none;
$global-navigation-a-weight: bold;
$global-navigation-a-letter-spacing: 0em;

/* Footer */
$footer-font-size: 0.75em;