/* _colors
 *
 *
 */
/* HTML, BODY elements */
/* Navigation */
/* Links */
/* Footer */
/* Validations */
/* Forms */
/*
 * Typograhical options
 */
/* Global */
/* Footer */
/* line 3, ../../app/styles/layout/_grid.scss */
.navigation {
  width: 100px;
  position: fixed;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 12, ../../app/styles/layout/_grid.scss */
.content {
  margin-left: 100px;
  overflow: hidden;
}

/* line 17, ../../app/styles/layout/_grid.scss */
.content-main {
  width: 100%;
}

/* line 21, ../../app/styles/layout/_grid.scss */
.footer {
  margin-left: 100px;
}

/* _colors
 *
 *
 */
/* HTML, BODY elements */
/* Navigation */
/* Links */
/* Footer */
/* Validations */
/* Forms */
/*
 * Typograhical options
 */
/* Global */
/* Footer */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../../app/styles/base/_base.scss */
html, body {
  background-color: #e5e5e5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

/* Headers */
/* line 20, ../../app/styles/base/_base.scss */
h1 {
  padding: 0 0 10px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 1.2rem;
}

/* Paragraph */
/* line 29, ../../app/styles/base/_base.scss */
p {
  padding: 5px 0;
  line-height: 1.5;
  font-size: 0.9rem;
}

/* Links */
/* line 37, ../../app/styles/base/_base.scss */
a {
  text-decoration: none;
  color: #00C1FF;
}

/* General Elements */
/* line 45, ../../app/styles/base/_base.scss */
.content-wrap {
  margin: 20px;
}

/* line 49, ../../app/styles/base/_base.scss */
.content-block {
  clear: both;
  padding: 20px;
  background-color: #fff;
  margin: 10px 0;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

/* _colors
 *
 *
 */
/* HTML, BODY elements */
/* Navigation */
/* Links */
/* Footer */
/* Validations */
/* Forms */
/*
 * Typograhical options
 */
/* Global */
/* Footer */
/* line 82, navigation/icons/*.png */
.icons-sprite, .navigation .dashboard, .navigation .server, .navigation .notifications, .navigation .settings, .navigation .overview, .navigation .help {
  background: url('../images/navigation/icons-sad632cd168.png') no-repeat;
}

/* line 5, ../../app/styles/components/_navigation.scss */
.navigation {
  background-color: #232323;
}
/* line 8, ../../app/styles/components/_navigation.scss */
.navigation li {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  padding: 0;
}
/* line 15, ../../app/styles/components/_navigation.scss */
.navigation span {
  margin: 5px auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 20, ../../app/styles/components/_navigation.scss */
.navigation hr {
  height: 1px;
  width: 75%;
  border: none;
  background-color: #393939;
}
/* line 27, ../../app/styles/components/_navigation.scss */
.navigation .navigation-middle {
  position: absolute;
  width: 100px;
  bottom: 30%;
}
/* line 33, ../../app/styles/components/_navigation.scss */
.navigation .navigation-bottom {
  position: absolute;
  width: 100px;
  bottom: 5%;
}
/* line 40, ../../app/styles/components/_navigation.scss */
.navigation .dashboard {
  background-position: 0 0;
  height: 25px;
  width: 25px;
  display: block;
}
/* line 47, ../../app/styles/components/_navigation.scss */
.navigation .server {
  background-position: 0 -99px;
  height: 25px;
  width: 25px;
  display: block;
}
/* line 54, ../../app/styles/components/_navigation.scss */
.navigation .notifications {
  background-position: 0 -51px;
  margin-top: 2px;
  height: 24px;
  width: 21px;
  display: block;
}
/* line 62, ../../app/styles/components/_navigation.scss */
.navigation .settings {
  background-position: 0 -25px;
  margin-top: 2px;
  height: 26px;
  width: 22px;
  display: block;
}
/* line 70, ../../app/styles/components/_navigation.scss */
.navigation .overview {
  background-position: 0 -124px;
  height: 25px;
  width: 25px;
  display: block;
}
/* line 78, ../../app/styles/components/_navigation.scss */
.navigation .help {
  background-position: 0 -75px;
  height: 24px;
  width: 22px;
  display: block;
}
/* line 85, ../../app/styles/components/_navigation.scss */
.navigation a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
/* line 94, ../../app/styles/components/_navigation.scss */
.navigation a span {
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 100, ../../app/styles/components/_navigation.scss */
.navigation a.active {
  color: rgba(255, 255, 255, 0.95);
}
/* line 102, ../../app/styles/components/_navigation.scss */
.navigation a.active span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 108, ../../app/styles/components/_navigation.scss */
.navigation a:hover, .navigation a:focus {
  color: rgba(255, 255, 255, 0.95);
}
/* line 110, ../../app/styles/components/_navigation.scss */
.navigation a:hover span, .navigation a:focus span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* _colors
 *
 *
 */
/* HTML, BODY elements */
/* Navigation */
/* Links */
/* Footer */
/* Validations */
/* Forms */
/*
 * Typograhical options
 */
/* Global */
/* Footer */
/* line 3, ../../app/styles/components/_dashboard.scss */
.dashboard-block {
  width: 25%;
  float: left;
  margin: 20px 0;
}

/* line 9, ../../app/styles/components/_dashboard.scss */
.dashboard-block-content {
  background-color: white;
  margin-right: 8%;
}

/* _colors
 *
 *
 */
/* HTML, BODY elements */
/* Navigation */
/* Links */
/* Footer */
/* Validations */
/* Forms */
/*
 * Typograhical options
 */
/* Global */
/* Footer */
/* line 3, ../../app/styles/components/_footer.scss */
.footer {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
/* line 7, ../../app/styles/components/_footer.scss */
.footer p {
  font-size: 0.75em;
}
/* line 10, ../../app/styles/components/_footer.scss */
.footer p a:link, .footer p a:visited {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 2px;
}
/* line 15, ../../app/styles/components/_footer.scss */
.footer p a:link:hover, .footer p a:link:active, .footer p a:visited:hover, .footer p a:visited:active {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/* line 24, ../../app/styles/components/_footer.scss */
.footer-content {
  margin: 20px 0;
}

/* line 1, ../../app/styles/components/_forms.scss */
form ul li {
  *zoom: 1;
  width: 100%;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
form ul li:before, form ul li:after {
  content: " ";
  display: table;
}
/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
form ul li:after {
  clear: both;
}

/* line 6, ../../app/styles/components/_forms.scss */
label {
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  width: 150px;
}

/* line 13, ../../app/styles/components/_forms.scss */
input[type=text] {
  padding: 5px;
  font-size: 0.8rem;
  outline: none;
  width: 300px;
}
/* line 19, ../../app/styles/components/_forms.scss */
input[type=text]:focus {
  border: 1px solid #00c1ff;
  padding: 6px;
}

/* line 25, ../../app/styles/components/_forms.scss */
.control-group.error input[type=text] {
  padding: 6px;
  border: 1px solid red;
}

/* line 30, ../../app/styles/components/_forms.scss */
.button, input[type=submit], .cancel {
  padding: 10px 12px;
  border: none;
  border-bottom: 4px solid #196A9F;
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}
/* line 39, ../../app/styles/components/_forms.scss */
.button:hover, input[type=submit]:hover, .cancel:hover {
  margin-top: 3px;
}
/* line 43, ../../app/styles/components/_forms.scss */
.button:active, input[type=submit]:active, .cancel:active {
  margin-top: 5px;
}

/* line 48, ../../app/styles/components/_forms.scss */
input[type=submit] {
  color: white;
  margin-left: 354px;
  background-color: #3298DA;
  border-color: #196A9F;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
}
/* line 57, ../../app/styles/components/_forms.scss */
input[type=submit]:hover {
  background-color: #3b9cdc;
  border-bottom: 3px solid #1a70a8;
}
/* line 62, ../../app/styles/components/_forms.scss */
input[type=submit]:active {
  background-color: #3b9cdc;
  border-bottom: 1px solid #1a70a8;
}

/* line 68, ../../app/styles/components/_forms.scss */
.cancel {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  margin-right: 20px;
  display: inline-block;
}
/* line 77, ../../app/styles/components/_forms.scss */
.cancel:hover {
  margin-top: 3px;
  background-color: rgba(5, 5, 5, 0.1);
  border-bottom: 3px solid rgba(5, 5, 5, 0.2);
}
/* line 83, ../../app/styles/components/_forms.scss */
.cancel:active {
  margin-top: 7px;
  background-color: rgba(5, 5, 5, 0.1);
  border-bottom: 1px solid rgba(5, 5, 5, 0.2);
}

/* line 90, ../../app/styles/components/_forms.scss */
.control-group {
  display: inline-block;
}

/* line 94, ../../app/styles/components/_forms.scss */
.controls .help-inline {
  font-size: 0.8em;
  margin-left: 10px;
  display: inline-block;
}

/* line 100, ../../app/styles/components/_forms.scss */
.error .controls {
  color: red;
}

/* line 105, ../../app/styles/components/_forms.scss */
.success .controls {
  color: green;
}

/* line 1, ../../app/styles/components/_lists.scss */
li {
  padding: 5px 0;
}
