/* _colors
 *
 *
 */
/* HTML, BODY elements */
/* Navigation */
/* Links */
/* Footer */
/* Validations */
/* Forms */
/*
 * Typograhical options
 */
/* Global */
/* Footer */
/* For modern browsers */
/* line 5, ../../app/styles/layout/_grid.scss */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

/* line 10, ../../app/styles/layout/_grid.scss */
.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 15, ../../app/styles/layout/_grid.scss */
.cf {
  *zoom: 1;
}

/* line 19, ../../app/styles/layout/_grid.scss */
.navigation {
  width: 100px;
  position: fixed;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 28, ../../app/styles/layout/_grid.scss */
.content {
  margin-left: 100px;
  overflow: hidden;
  height: 100%;
}

/* line 34, ../../app/styles/layout/_grid.scss */
.content-main {
  width: 100%;
  height: 100%;
}

/* line 38, ../../app/styles/layout/_grid.scss */
.content-wrap.extend {
  height: 100%;
  margin-bottom: 100px;
}

/* line 42, ../../app/styles/layout/_grid.scss */
.content-block.extend {
  display: block;
  height: 90%;
}

/* line 48, ../../app/styles/layout/_grid.scss */
.content-block-scroll {
  overflow: auto;
  height: 98%;
}

/* line 54, ../../app/styles/layout/_grid.scss */
.overview-content {
  height: 100%;
}

/* line 57, ../../app/styles/layout/_grid.scss */
.footer {
  margin-left: 100px;
}

/* line 61, ../../app/styles/layout/_grid.scss */
.ember-view {
  height: 100%;
}

/* _colors
 *
 *
 */
/* HTML, BODY elements */
/* Navigation */
/* Links */
/* Footer */
/* Validations */
/* Forms */
/*
 * Typograhical options
 */
/* Global */
/* Footer */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../../app/styles/base/_base.scss */
html, body {
  background-color: #e5e5e5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

/* Headers */
/* line 20, ../../app/styles/base/_base.scss */
h1 {
  padding: 0 0 10px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 1.2rem;
}

/* line 27, ../../app/styles/base/_base.scss */
h3 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #196A9F;
}

/* line 33, ../../app/styles/base/_base.scss */
h4 {
  font-size: 0.8rem;
}

/* Paragraph */
/* line 39, ../../app/styles/base/_base.scss */
p {
  padding: 5px 0;
  line-height: 1.5;
  font-size: 0.9rem;
}

/* Links */
/* line 47, ../../app/styles/base/_base.scss */
a {
  text-decoration: none;
  color: #00C1FF;
}

/* General Elements */
/* line 55, ../../app/styles/base/_base.scss */
strong {
  font-weight: bold;
}

/* line 59, ../../app/styles/base/_base.scss */
.content-wrap {
  margin: 20px;
}

/* line 63, ../../app/styles/base/_base.scss */
.information-block, .dashboard-block, .dashboard-block-4, .dashboard-block-2 {
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  background-color: white;
}

/* line 68, ../../app/styles/base/_base.scss */
.content-block {
  clear: both;
  padding: 20px;
  background-color: #fff;
  margin: 10px 0;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

/* General Warning */
/* line 78, ../../app/styles/base/_base.scss */
.warning {
  color: #8e5828;
  background-color: #f1c40f;
  border-color: #b67133;
  padding: 10px;
  font-weight: bold;
  margin: 10px 0 6px 0;
}
/* line 86, ../../app/styles/base/_base.scss */
.warning p {
  display: inline-block;
  padding: 4px 0 0 0;
  vertical-align: top;
}
/* line 92, ../../app/styles/base/_base.scss */
.warning .warning-icon {
  background-image: url(../images/icons/icon_warning.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 22px;
  display: inline-block;
  margin: 5px 7px 0 7px;
}

/* General Definition List */
/* line 104, ../../app/styles/base/_base.scss */
dl {
  margin: 15px 0 5px 0;
  *zoom: 1;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  with: 100%;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
dl:before, dl:after {
  content: " ";
  display: table;
}
/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
dl:after {
  clear: both;
}
/* line 110, ../../app/styles/base/_base.scss */
dl dt {
  width: 50%;
  display: inline-block;
  float: left;
  padding: 7px 0;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
/* line 119, ../../app/styles/base/_base.scss */
dl dd {
  width: 50%;
  display: inline-block;
  float: left;
  text-align: right;
  padding: 7px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* General styling for Modal - Move to sperate after */
/* line 1, ../../app/styles/components/_modal.scss */
.modal-open {
  overflow: hidden;
}

/* line 5, ../../app/styles/components/_modal.scss */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}

/* line 17, ../../app/styles/components/_modal.scss */
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

/* line 27, ../../app/styles/components/_modal.scss */
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 33, ../../app/styles/components/_modal.scss */
.modal-dialog {
  z-index: 1050;
  width: auto;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* line 41, ../../app/styles/components/_modal.scss */
.modal-content {
  position: relative;
  background-color: #ffffff;
  outline: none;
  -webkit-box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* line 50, ../../app/styles/components/_modal.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}

/* line 60, ../../app/styles/components/_modal.scss */
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 65, ../../app/styles/components/_modal.scss */
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 70, ../../app/styles/components/_modal.scss */
.modal-header {
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

/* line 76, ../../app/styles/components/_modal.scss */
.modal-header .close {
  margin-top: -2px;
}

/* line 80, ../../app/styles/components/_modal.scss */
.modal-title {
  margin: 0;
  line-height: 1.428571429;
  font-size: 1.4em;
}

/* line 86, ../../app/styles/components/_modal.scss */
.modal-body {
  position: relative;
  padding: 20px;
}

/* line 91, ../../app/styles/components/_modal.scss */
.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

/* line 99, ../../app/styles/components/_modal.scss */
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

/* line 104, ../../app/styles/components/_modal.scss */
.modal-footer:after {
  clear: both;
}

/* line 109, ../../app/styles/components/_modal.scss */
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

/* line 114, ../../app/styles/components/_modal.scss */
.modal-footer:after {
  clear: both;
}

/* line 118, ../../app/styles/components/_modal.scss */
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

/* line 123, ../../app/styles/components/_modal.scss */
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

/* line 127, ../../app/styles/components/_modal.scss */
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  /* line 132, ../../app/styles/components/_modal.scss */
  .modal-dialog {
    right: auto;
    left: 50%;
    width: 800px;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  /* line 139, ../../app/styles/components/_modal.scss */
  .modal-content {
    -webkit-box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
  }
}
/* line 145, ../../app/styles/components/_modal.scss */
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

/* line 157, ../../app/styles/components/_modal.scss */
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 165, ../../app/styles/components/_modal.scss */
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

/* _colors
 *
 *
 */
/* HTML, BODY elements */
/* Navigation */
/* Links */
/* Footer */
/* Validations */
/* Forms */
/*
 * Typograhical options
 */
/* Global */
/* Footer */
/* line 90, navigation/icons/*.png */
.icons-sprite, .navigation .dashboard, .navigation .server, .navigation .notifications, .navigation .settings, .navigation .overview, .navigation .help, .navigation .add-host {
  background: url('../images/navigation/icons-s86a3bbf409.png') no-repeat;
}

/* line 5, ../../app/styles/components/_navigation.scss */
.navigation {
  background-color: #232323;
}
/* line 8, ../../app/styles/components/_navigation.scss */
.navigation li {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  padding: 0;
}
/* line 15, ../../app/styles/components/_navigation.scss */
.navigation span {
  margin: 5px auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 20, ../../app/styles/components/_navigation.scss */
.navigation hr {
  height: 1px;
  width: 75%;
  border: none;
  background-color: #393939;
}
/* line 27, ../../app/styles/components/_navigation.scss */
.navigation .navigation-middle {
  position: absolute;
  width: 100px;
  bottom: 50%;
}
/* line 33, ../../app/styles/components/_navigation.scss */
.navigation .navigation-bottom {
  position: absolute;
  width: 100px;
  bottom: 5%;
}
/* line 40, ../../app/styles/components/_navigation.scss */
.navigation .dashboard {
  background-position: 0 0;
  height: 25px;
  width: 25px;
  display: block;
}
/* line 47, ../../app/styles/components/_navigation.scss */
.navigation .server {
  background-position: 0 -120px;
  height: 25px;
  width: 25px;
  display: block;
}
/* line 54, ../../app/styles/components/_navigation.scss */
.navigation .notifications {
  background-position: 0 -51px;
  margin-top: 2px;
  height: 24px;
  width: 21px;
  display: block;
}
/* line 62, ../../app/styles/components/_navigation.scss */
.navigation .settings {
  background-position: 0 -25px;
  margin-top: 2px;
  height: 26px;
  width: 22px;
  display: block;
}
/* line 70, ../../app/styles/components/_navigation.scss */
.navigation .overview {
  background-position: 0 -145px;
  height: 25px;
  width: 25px;
  display: block;
}
/* line 78, ../../app/styles/components/_navigation.scss */
.navigation .help {
  background-position: 0 -75px;
  height: 26px;
  width: 22px;
  display: block;
}
/* line 85, ../../app/styles/components/_navigation.scss */
.navigation .add-host {
  background-position: 0 -99px;
  height: 21px;
  width: 30px;
  display: block;
}
/* line 92, ../../app/styles/components/_navigation.scss */
.navigation a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
/* line 101, ../../app/styles/components/_navigation.scss */
.navigation a span {
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 107, ../../app/styles/components/_navigation.scss */
.navigation a.active {
  color: rgba(255, 255, 255, 0.95);
}
/* line 109, ../../app/styles/components/_navigation.scss */
.navigation a.active span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 115, ../../app/styles/components/_navigation.scss */
.navigation a:hover, .navigation a:focus {
  color: rgba(255, 255, 255, 0.95);
}
/* line 117, ../../app/styles/components/_navigation.scss */
.navigation a:hover span, .navigation a:focus span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* _colors
 *
 *
 */
/* HTML, BODY elements */
/* Navigation */
/* Links */
/* Footer */
/* Validations */
/* Forms */
/*
 * Typograhical options
 */
/* Global */
/* Footer */
/* line 3, ../../app/styles/components/_dashboard.scss */
.dashboard-block, .dashboard-block-4, .dashboard-block-2 {
  float: left;
  margin: 20px 1% 20px 0%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 12, ../../app/styles/components/_dashboard.scss */
.dashboard-block-4 {
  width: 24%;
}

/* line 17, ../../app/styles/components/_dashboard.scss */
.dashboard-block-2 {
  width: 12%;
}

/* line 22, ../../app/styles/components/_dashboard.scss */
.dashboard-block.last, .last.dashboard-block-4, .last.dashboard-block-2 {
  margin-right: 0;
}

/* line 26, ../../app/styles/components/_dashboard.scss */
.dashboard-block-content {
  background-color: white;
  padding: 25px;
}
/* line 30, ../../app/styles/components/_dashboard.scss */
.dashboard-block-content h3 {
  color: rgba(0, 0, 0, 0.4);
}
/* line 33, ../../app/styles/components/_dashboard.scss */
.dashboard-block-content .dashboard-block-metrics {
  margin: 10px 0;
}
/* line 36, ../../app/styles/components/_dashboard.scss */
.dashboard-block-content .dashboard-block-metric {
  font-size: 3rem;
}
/* line 39, ../../app/styles/components/_dashboard.scss */
.dashboard-block-content .dashboard-block-metric-unit {
  color: rgba(0, 0, 0, 0.3);
  margin: 10px 0 0 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* line 47, ../../app/styles/components/_dashboard.scss */
.dashboard-notification {
  margin: 15px 0 0 0;
}

/* line 51, ../../app/styles/components/_dashboard.scss */
.dashboard-notification-header {
  width: 100%;
  margin: 0 0 10px 0;
}
/* line 56, ../../app/styles/components/_dashboard.scss */
.dashboard-notification-header div {
  display: inline-block;
  width: 49%;
}
/* line 60, ../../app/styles/components/_dashboard.scss */
.dashboard-notification-header .dashboard-notification-name {
  font-size: 0.9rem;
  font-weight: bold;
}
/* line 65, ../../app/styles/components/_dashboard.scss */
.dashboard-notification-header .dashboard-notification-time {
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  vertical-align: middle;
}

/* line 73, ../../app/styles/components/_dashboard.scss */
.dashboard-notification-body {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 12px;
}

/* line 81, ../../app/styles/components/_dashboard.scss */
.dashboard-notification-indicator {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-right: 5px;
}

/* line 92, ../../app/styles/components/_dashboard.scss */
.dashboard-notification-none {
  text-align: center;
  padding: 39px 0 32px 0;
  color: rgba(0, 0, 0, 0.2);
}

/* _colors
 *
 *
 */
/* HTML, BODY elements */
/* Navigation */
/* Links */
/* Footer */
/* Validations */
/* Forms */
/*
 * Typograhical options
 */
/* Global */
/* Footer */
/* line 3, ../../app/styles/components/_footer.scss */
.footer {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
/* line 7, ../../app/styles/components/_footer.scss */
.footer p {
  font-size: 0.75em;
}
/* line 10, ../../app/styles/components/_footer.scss */
.footer p a:link, .footer p a:visited {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 2px;
}
/* line 15, ../../app/styles/components/_footer.scss */
.footer p a:link:hover, .footer p a:link:active, .footer p a:visited:hover, .footer p a:visited:active {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/* line 24, ../../app/styles/components/_footer.scss */
.footer-content {
  margin: 20px 0;
}

/* line 1, ../../app/styles/components/_forms.scss */
form ul li {
  *zoom: 1;
  width: 100%;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
form ul li:before, form ul li:after {
  content: " ";
  display: table;
}
/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
form ul li:after {
  clear: both;
}

/* line 6, ../../app/styles/components/_forms.scss */
label {
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  width: 150px;
}

/* line 13, ../../app/styles/components/_forms.scss */
input[type=text] {
  padding: 5px;
  font-size: 0.8rem;
  outline: none;
  width: 300px;
}
/* line 19, ../../app/styles/components/_forms.scss */
input[type=text]:focus {
  border: 1px solid #00c1ff;
  padding: 6px;
}

/* line 25, ../../app/styles/components/_forms.scss */
.control-group.error input[type=text] {
  padding: 6px;
  border: 1px solid red;
}

/* line 30, ../../app/styles/components/_forms.scss */
.button, input[type=submit], .cancel {
  padding: 10px 12px;
  border: none;
  border-bottom: 4px solid #196A9F;
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}
/* line 39, ../../app/styles/components/_forms.scss */
.button:hover, input[type=submit]:hover, .cancel:hover {
  margin-top: 3px;
}
/* line 43, ../../app/styles/components/_forms.scss */
.button:active, input[type=submit]:active, .cancel:active {
  margin-top: 5px;
}

/* line 48, ../../app/styles/components/_forms.scss */
input[type=submit] {
  color: white;
  margin-left: 354px;
  background-color: #3298DA;
  border-color: #196A9F;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
}
/* line 57, ../../app/styles/components/_forms.scss */
input[type=submit]:hover {
  background-color: #3b9cdc;
  border-bottom: 3px solid #1a70a8;
}
/* line 62, ../../app/styles/components/_forms.scss */
input[type=submit]:active {
  background-color: #3b9cdc;
  border-bottom: 1px solid #1a70a8;
}

/* line 68, ../../app/styles/components/_forms.scss */
.cancel {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  margin-right: 20px;
  display: inline-block;
}
/* line 77, ../../app/styles/components/_forms.scss */
.cancel:hover {
  margin-top: 3px;
  background-color: rgba(5, 5, 5, 0.1);
  border-bottom: 3px solid rgba(5, 5, 5, 0.2);
}
/* line 83, ../../app/styles/components/_forms.scss */
.cancel:active {
  margin-top: 7px;
  background-color: rgba(5, 5, 5, 0.1);
  border-bottom: 1px solid rgba(5, 5, 5, 0.2);
}

/* line 90, ../../app/styles/components/_forms.scss */
.control-group {
  display: inline-block;
}

/* line 94, ../../app/styles/components/_forms.scss */
.controls .help-inline {
  font-size: 0.8em;
  margin-left: 10px;
  display: inline-block;
}

/* line 100, ../../app/styles/components/_forms.scss */
.error .controls {
  color: red;
}

/* line 105, ../../app/styles/components/_forms.scss */
.success .controls {
  color: green;
}

/* line 109, ../../app/styles/components/_forms.scss */
.add-host-loading {
  height: 85px;
  padding-top: 67px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

/* line 1, ../../app/styles/components/_lists.scss */
li {
  padding: 5px 0;
}

/* line 2, ../../app/styles/components/_notifications.scss */
.notification-header,
.notification-content {
  width: 100%;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.8);
}
/* line 7, ../../app/styles/components/_notifications.scss */
.notification-header div,
.notification-content div {
  display: inline-block;
}

/* line 16, ../../app/styles/components/_notifications.scss */
.notification-header div {
  font-weight: bold;
}

/* line 22, ../../app/styles/components/_notifications.scss */
.notification-header-timestamp,
.notification-content-timestamp {
  width: 18%;
}

/* line 27, ../../app/styles/components/_notifications.scss */
.notification-header-name,
.notification-content-name {
  width: 15%;
}

/* line 32, ../../app/styles/components/_notifications.scss */
.notification-header-category,
.notification-content-category {
  width: 10%;
}

/* line 37, ../../app/styles/components/_notifications.scss */
.notification-header-body,
.notification-content-body {
  width: 56%;
}

/* line 50, subNavigation/*.png */
.subNavigation-sprite, .overview-nav .info, .overview-nav .api {
  background: url('../images/subNavigation-s08f3d14c6a.png') no-repeat;
}

/* line 4, ../../app/styles/components/_overview.scss */
.overview-list {
  background-color: rgba(255, 255, 255, 0.5);
  width: 16%;
  margin: 0 0 0 1%;
  height: 100%;
  display: inline-block;
  float: left;
  overflow: auto;
}
/* line 13, ../../app/styles/components/_overview.scss */
.overview-list li {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}
/* line 18, ../../app/styles/components/_overview.scss */
.overview-list li.active {
  padding-left: 7px;
  border-left: 3px solid #3298DA;
  background-color: white;
}
/* line 24, ../../app/styles/components/_overview.scss */
.overview-list li.inline-button {
  text-align: center;
  background: none;
}
/* line 27, ../../app/styles/components/_overview.scss */
.overview-list li.inline-button a {
  color: rgba(0, 0, 0, 0.7);
}

/* line 33, ../../app/styles/components/_overview.scss */
.overview-item-header {
  color: black;
  font-size: 1rem;
}

/* line 38, ../../app/styles/components/_overview.scss */
.overview-item-header.vm {
  display: inline-block;
  width: 83%;
}
/* line 41, ../../app/styles/components/_overview.scss */
.overview-item-header.vm h3 {
  color: black;
  font-size: 0.8rem;
}

/* line 47, ../../app/styles/components/_overview.scss */
.overview-item-state {
  width: 12px;
  display: inline-block;
  height: 12px;
  vertical-align: top;
  margin: 3px 0 0 3px;
  float: right;
}
/* line 54, ../../app/styles/components/_overview.scss */
.overview-item-state span {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* line 65, ../../app/styles/components/_overview.scss */
.overview-item-state span.green {
  background-color: #6EDA6C;
}
/* line 69, ../../app/styles/components/_overview.scss */
.overview-item-state span.orange {
  background-color: orange;
}
/* line 73, ../../app/styles/components/_overview.scss */
.overview-item-state span.red {
  background-color: red;
}

/* line 80, ../../app/styles/components/_overview.scss */
.overview-item-header.inactive {
  color: rgba(0, 0, 0, 0.2);
}

/* line 84, ../../app/styles/components/_overview.scss */
.overview-header, .overview-details-header {
  padding: 15px;
  margin-top: 5px;
}
/* line 88, ../../app/styles/components/_overview.scss */
.overview-header h4, .overview-details-header h4 {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
}
/* line 94, ../../app/styles/components/_overview.scss */
.overview-header hr, .overview-details-header hr {
  width: 100%;
  display: inline-block;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  vertical-align: middle;
}

/* line 104, ../../app/styles/components/_overview.scss */
.overview-header-filter {
  padding: 0;
  margin: 0;
  min-height: 20px;
}
/* line 108, ../../app/styles/components/_overview.scss */
.overview-header-filter p {
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 113, ../../app/styles/components/_overview.scss */
.overview-header-filter p a {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.8rem;
}
/* line 117, ../../app/styles/components/_overview.scss */
.overview-header-filter p a:hover {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}

/* line 125, ../../app/styles/components/_overview.scss */
.overview-details {
  background-color: rgba(255, 255, 255, 0.98);
  width: 47%;
  margin: 0 0 0 1%;
  min-height: 100%;
  display: inline-block;
  float: left;
}

/* line 134, ../../app/styles/components/_overview.scss */
.overview-details.inactive {
  background-color: rgba(255, 255, 255, 0.4);
}

/* line 145, ../../app/styles/components/_overview.scss */
.overview-content-middle p {
  margin: 20% 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

/* line 153, ../../app/styles/components/_overview.scss */
.overview-list dl {
  margin: 5px 0 0 0;
  *zoom: 1;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  with: 100%;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
.overview-list dl:before, .overview-list dl:after {
  content: " ";
  display: table;
}
/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p125/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */
.overview-list dl:after {
  clear: both;
}
/* line 159, ../../app/styles/components/_overview.scss */
.overview-list dl dt {
  width: 50%;
  display: inline-block;
  float: left;
  padding: 7px 0;
  font-weight: normal;
  border: none;
}
/* line 169, ../../app/styles/components/_overview.scss */
.overview-list dl dd {
  width: 50%;
  display: inline-block;
  float: left;
  text-align: right;
  padding: 7px 0;
  font-weight: bold;
  border: none;
}

/* line 180, ../../app/styles/components/_overview.scss */
.overview-nav {
  display: inline-block;
  float: left;
  width: 12%;
}
/* line 184, ../../app/styles/components/_overview.scss */
.overview-nav ul {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 187, ../../app/styles/components/_overview.scss */
.overview-nav li {
  font-size: 0.7rem;
  text-align: center;
  padding: 0;
  margin: 0 0 10px;
}
/* line 193, ../../app/styles/components/_overview.scss */
.overview-nav li a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-weight: normal;
  font-size: 0.8rem;
  letter-spacing: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
/* line 202, ../../app/styles/components/_overview.scss */
.overview-nav li a span {
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 208, ../../app/styles/components/_overview.scss */
.overview-nav li a.active {
  color: rgba(0, 0, 0, 0.6);
}
/* line 210, ../../app/styles/components/_overview.scss */
.overview-nav li a.active span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 216, ../../app/styles/components/_overview.scss */
.overview-nav li a:hover, .overview-nav li a:focus {
  color: rgba(0, 0, 0, 0.6);
}
/* line 218, ../../app/styles/components/_overview.scss */
.overview-nav li a:hover span, .overview-nav li a:focus span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 226, ../../app/styles/components/_overview.scss */
.overview-nav .info {
  background-position: 0 0;
  height: 24px;
  width: 24px;
  display: block;
}
/* line 233, ../../app/styles/components/_overview.scss */
.overview-nav .api {
  background-position: 0 -24px;
  height: 24px;
  width: 24px;
  display: block;
}

/* line 241, ../../app/styles/components/_overview.scss */
.overview-inner {
  width: 80%;
  float: right;
  display: inline-block;
  padding: 0 4% 0 4%;
  margin: 0;
}
/* line 250, ../../app/styles/components/_overview.scss */
.overview-inner dl {
  margin: 0;
}
/* line 253, ../../app/styles/components/_overview.scss */
.overview-inner dt {
  width: 30%;
}
/* line 256, ../../app/styles/components/_overview.scss */
.overview-inner dd {
  width: 70%;
  display: block;
}
/* line 261, ../../app/styles/components/_overview.scss */
.overview-inner dt, .overview-inner dd {
  min-height: 1.2em;
}

/* line 264, ../../app/styles/components/_overview.scss */
.overview-container {
  width: 100%;
  margin-top: 20px;
}

/* Move to specific host section */
/* line 271, ../../app/styles/components/_overview.scss */
.host-api-output {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 500px;
  overflow: auto;
  font-size: 0.7rem;
  padding: 5px;
}
