<header class="navigation">
    <nav>
        {{outlet "menu"}}
    </nav>
</header>

<div class="content" role="main">
    <div class="content-main">
        {{outlet}}
</div>
</div>

<footer class="footer">
   {{outlet "footer"}}
</footer>