<header class="navigation">
    <nav>
        {{outlet "menu"}}
    </nav>
</header>

<div class="content cf" role="main">
    <div class="content-main cf">
        {{outlet}}
    </div>
</div>

<!--
<footer class="footer">
   {{outlet "footer"}}
</footer>

-->


{{render modal}}
