<header class="navigation">
    <nav>
        {{outlet "menu"}}
    </nav>
</header>

<div class="content cf" role="main">
    <div class="content-main cf">
        {{outlet}}
    </div>
</div>

{{render modal}}