<div class="content-wrap">
    <h1>Dashboard</h1>

    <div class="dashboard-block">
        <div class="dashboard-block-content">
            <h3>Servers</h3>
        </div>
    </div>

     <div class="dashboard-block">
       <div class="dashboard-block-content">
            <h3>Status</h3>
        </div>
    </div>

    <div class="content-block">
        <p>
        To use the parlance of our times. Dolor sit amet, consectetur adipiscing elit praesent ac magna. He lives in North Hollywood on Radford, near the In-and-Out Burger. Justo pellentesque ac lectus quis elit blandit fringilla. And I'm talkin' about the Dude here —sometimes there's a man who, wal, he's the man for his time'n place, he fits right in there—and that's the Dude, in Los Angeles. A ut turpis praesent felis ligula, malesuada suscipit.
        </p>
    </div>
</div>