 <div class="footer-content">
        <p>Xen API Console; Build {{buildVersion}}  |  <a href="https://github.com/HPieters/xac.js" target="_blank" title="Get the source at github">Get the source at github.</a>  |  <a href="https://github.com/HPieters/xac.js/issues" target="_blank" title="Report a issue">Report a issue</a>  |   <a href="https://github.com/HPieters/xac.js/issues" target="_blank" title="Feature request">Feature request</a></p>
    </div>