<div class="overview-details">
    <div class="overview-header">
        <h4>Host: <span>{{content.hostUrl}}</span></h4>
    </div>
    <div>
        <!--<nav>
            <ul>
                <li>{{#linkTo "host.index"}}Index{{/linkTo}}</li>
                <li>{{#linkTo "host.console"}}Test{{/linkTo}}</li>
            </ul>
        </nav>-->
    </div>
    <div class="overview-inner">
    {{outlet}}
    </div>
</div>