<ul>
    <hr />
        <li>{{#linkTo "dashboard"}} <span class="dashboard"></span> Dashboard{{/linkTo}}</li>
        <li>{{#linkTo "overview"}} <span class="overview"></span> Overview {{/linkTo}}</li>
        <li><a {{action addHost}}>  <span class="add-host"></span> Add Host </a></li>
    <hr />
</ul>
