<ul>
    <hr />
    <li>{{#linkTo "dashboard"}} <span class="dashboard"></span> Dashboard{{/linkTo}}</li>
    <li>{{#linkTo "servers"}} <span class="server"></span> Servers (<em class="no-servers">{{{serverCount}}}</em>){{/linkTo}}</li>
    <hr />
</ul>

<ul class="navigation-middle">
    <hr />
    <li>{{#linkTo "notifications"}} <span class="notifications"></span>Notfications{{/linkTo}}</li>
    <hr />
</ul>

<ul class="navigation-bottom">
    <hr />
        <li>{{#linkTo "settings"}}  <span class="settings"></span>Settings{{/linkTo}}</li>
    <hr />
</ul>