<ul>
    <hr />
        <li>{{#linkTo "dashboard"}} <span class="dashboard"></span> Dashboard{{/linkTo}}</li>
        <li>{{#linkTo "overview"}} <span class="overview"></span> Overview {{/linkTo}}</li>
        <li>{{#linkTo "servers"}} <span class="server"></span> Hosts (<em class="no-servers">{{{serverCount}}}</em>){{/linkTo}}</li>
        <li>{{#linkTo "notifications"}} <span class="notifications"></span>Notfications (<em class="no-notifications">{{{notifications}}}</em>){{/linkTo}}</li>
    <hr />
</ul>

<!--
<ul class="navigation-middle">
    <hr />

    <hr />
</ul>

<ul class="navigation-bottom">
    <hr />
        <li>{{#linkTo "settings"}}  <span class="settings"></span>Settings{{/linkTo}}</li>
    <hr />
</ul>
-->