{{#if view.hasPools}}
<div class="overview-content">
    <div class="overview-list">
        <div class="overview-header">
            <h4>Pools</h4>
            <hr />
        </div>
        <ul>
            {{#each pool in content}}
                {{#linkTo "view" pool tagName="li"}}
                    {{#linkTo "view" pool}}<h3 class="overview-item-header">{{pool.poolName}}</h3><p>{{pool.serverCount}}</p>{{/linkTo}}
                {{/linkTo}}
            {{/each}}
        </ul>
    </div>

    {{#if view.stateActive}}
    <div class="overview-details">
        <div class="overview-details-header">
            <h4>Pool Information</h4>
        </div>
    </div>
    {{/if}}

    {{outlet}}


</div>
{{else}}
    <div class="content-wrap">
       <div class="content-block warning">
        <span class="warning-icon"></span>
        <p>Please add a server before continuing.</p>
    </div>
    </div>
{{/if}}