{{#if view.hasPools}}
<div class="overview-content">
    <div class="overview-list">
        <div class="overview-header">
            <h4>Pools</h4>
        </div>
        <ul>
            {{#each pool in controller}}
                {{#linkTo "view.index" pool tagName="li"}}
                    {{#linkTo "view.index" pool}}<h3 class="overview-item-header">{{pool.poolName}}</h3><p>{{pool.serverCount}}</p>{{/linkTo}}
                {{/linkTo}}
            {{/each}}
        </ul>
    </div>

    {{outlet}}
</div>
{{else}}
    <div class="content-wrap">
       <div class="content-block warning">
        <span class="warning-icon"></span>
        <p>Please add a server before continuing.</p>
    </div>
    </div>
{{/if}}