<div class="content-block">
    <h1>Servers</h1>
    {{{amount}}}
    <p>Servers are the main components within XAC, hook up all your servers here and let us do some magic voodoo</p>
    <p>
        <nav>
            {{#linkTo "servers.index"}}List{{/linkTo}} |
            {{#linkTo "servers.new"}}Add Server{{/linkTo}}
        </nav>
    </p>

    {{outlet}}

</div>

