<div class="overview-content">
    <div class="overview-list">
        <div class="overview-header">
            <h4>Servers</h4>
        </div>
        <ul>
            {{#each server in controller}}
                {{#linkTo "view.index" server tagName="li"}} {{#linkTo "view.index" server}}<h3 class="overview-item-header">{{server.hostUrl}}</h3>{{/linkTo}}{{/linkTo}}
            {{/each}}
            {{#linkTo "servers.new" tagName="li" class="inline-button" }}{{#linkTo "servers.new"}}Add a new server{{/linkTo}}{{/linkTo}}

        </ul>
    </div>

    {{outlet}}
</div>